---
    import "../../styles/project.scss";
    import BaseComponent from "../../components/base.astro";
    import DemoImage from "/assets/image/demo.png";
---

<BaseComponent title="Proyecto Senati Market">
    <article class="project">
    <a href="/?one" class="close">Cerrar</a>
        <section class="main">
            <h1 class="main__title">Senati Market</h1>
            <img class="main__img" src="/assets/image/senatimarket/senatimarket.jpg" alt="project">
        </section>
        
        <section class="details">
            <div class="details__content">
                <h1 class="details__title">Senati Market</h1>
                
                <div class="details__container">
                    <div class="left">
                        <ul class="left__links">
                            <li><a href="#" onclick="window.open('https://github.com/Jamir-boop/SENATI-MARKET.git', '_blank');" class="see_code">Ver código</a></li>
                        </ul>
                        <ul class="left__client">
                            <li class="left__title">Proyecto de investigación</li>
                        </ul>
                        <ul class="left__tecno">
                            <li class="left__title">Tecnologias</li>
                            <li>PHP</li>
                            <li>MariaDB</li>
                            <li>Javascript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>XAMPP</li>
                        </ul>
                    </div>
                    <div class="right">
                        <h2 class="right__subtitle">Convergencia de la tecnología y el diseño para producir nuevas experiencias</h2>
                        <p>Este proyecto es el resultado de mi primer contacto agudo e íntimo con el desarrollo web haciendo uso del lenguaje PHP, el asombro y el disfrute de investigar e implementar soluciones al sinfín de problemas que enfrentamos durante su desarrollo.</p>
                    </div>
                </div>

            </div>
        </section>

        <section class="tousers">
            <div class="tousers__content">
                <iframe class="tousers__demovideo" src="https://player.vimeo.com/video/669587561?h=40dbce58b1?&autoplay=1&loop=1&background=1" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                <div class="tousers__paragraph">
                    <h1 class="titleelegante">Atrayendo a usuarios a través de un diseño elegante y temático.</h1>
                    <p class="paragraphelegante">Senati Market es una marca que respira en torno al diseño y la tecnología. Nosotros diseñamos una experiencia premium suave y dinámica para el usuario.</p>
                </div>
            </div>
        </section>

        <section class="tousers">
            <iframe class="tousers__fullscreen" src="https://player.vimeo.com/video/669597729?h=3f58f14db6?&autoplay=1&loop=1&background=1" width="3840" height="2160" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <div class="tousers__content">
                <div class="tousers__paragraph">
                    <h1 class="personalizacion">Usando personalización para crear una experiencia única</h1>
                    <p class="personal_paragraph">El usuario es capaz de explorar cada detalle y seleccionar todos producto en absoluto detalle y entender por completo que hace especial a Senati Market</p>
                </div>
                <iframe class="tousers__demovideo" src="https://player.vimeo.com/video/669594435?h=ee81856e31?&autoplay=1&loop=1&background=1" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen;" allowfullscreen></iframe>
            </div>
        </section>

        <section class="tousers">
            <div class="tousers__content">
                <img class="tousers__demovideo end" src="/assets/image/senatimarket/registro.png" alt="login">
                <img class="tousers__demovideo end" src="/assets/image/senatimarket/carrito.jpg" alt="shopping cart">
            </div>
        </section>

        <section class="next">
        <div class="next__content">
            <div class="next__text">
                <span class="next__siguiente">Siguiente</span>
                <span class="next__nombre">Lorem, ipsum dolor.</span>
            </div>
            <img class="next__demo" src={DemoImage} alt="project">
        </div>
        </section>
    </article>
    <script>
        function isMobile() {
            if (
                /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
                    navigator.userAgent
                )
            ) {
                return true;
            }
            return false;
        }

        function scrollControl() {
            const MAX =
                document.documentElement.scrollHeight -
                document.documentElement.clientHeight;
            if (Math.round(window.scrollY) >= MAX) {
                setTimeout(() => {
                    document.location.href = "/project/two";
                    console.log("cambio!");
                }, 300);
            }

            // calculando el 15% final del scroll de la pagina
            // el scale de la imagen
            const next__img = document.querySelector(".next__demo");
            const partial = MAX - (MAX * 15) / 100;
            // se activa cuando el scroll alcanza el 90%
            if (Math.round(window.scrollY) >= Math.round(partial)) {
                let scale = window.scrollY / 3000 - 0.02;
                next__img.style.transform = "scale(" + scale + ")";
            }
        }

        window.onload = () => {
            // seleccion de idioma
            checkNavLang();
            function checkNavLang() {
                const customLang = localStorage.getItem("lang");
                if (customLang !== null) {
                    languageto(customLang);
                    return;
                }
                if (navigator.language.indexOf("es") != -1) {
                    languageto("es");
                    return;
                }
                if (navigator.language.indexOf("en") != -1) {
                    languageto("en");
                }
            }
            

            function languageto(selection) {
                const data = {
                    en: {
                        close: "Close",
                        code: "See code",
                        client: "Investigation project",
                        tecno: "Tecnologies",
                        subtitle: "Convergence of technology and design to produce new experiences",
                        mainparagraph: "This project is the result of my first acute and intimate contact with web development using the PHP language, the amazement and enjoyment of researching and implementing solutions to the endless problems we faced during its development.",
                        titleelegante: "Engaging users through an elegant and thematic design",
                        paragraphelegante: "Senati Market is a brand that breathes around design and technology. We designed a premium smooth and dynamic user experience.",
                        personalizacion: "Using customization to create a unique experience",
                        personal_paragraph: "The user is able to explore every detail and select all products in absolute detail and fully understand what makes Senati Market special.",
                        next: "Next",
                    },
                    es: {
                        close: "Cerrar",
                        code: "Ver código",
                        client: "Proyecto de investigación",
                        tecno: "Tecnologias",
                        subtitle: "Convergencia de la tecnología y el diseño para producir nuevas experiencias",
                        mainparagraph: "Este proyecto es el resultado de mi primer contacto agudo e íntimo con el desarrollo web haciendo uso del lenguaje PHP, el asombro y el disfrute de investigar e implementar soluciones al sinfín de problemas que enfrentamos durante su desarrollo.",
                        titleelegante: "Atrayendo a usuarios a través de un diseño elegante y temático",
                        paragraphelegante: "Senati Market es una marca que respira en torno al diseño y la tecnología. Nosotros diseñamos una experiencia premium suave y dinámica para el usuario.",
                        personalizacion: "Usando personalización para crear una experiencia única",
                        personal_paragraph: "El usuario es capaz de explorar cada detalle y seleccionar todos producto en absoluto detalle y entender por completo que hace especial a Senati Market",
                        next: "Siguiente",
                    },
                };

                document.querySelector("html").lang = selection;
                document.querySelector(".close").innerHTML = data[selection].close;
                document.querySelector(".right__subtitle").innerHTML = data[selection].subtitle;
                document.querySelector(".left__client .left__title").innerHTML = data[selection].client;
                document.querySelector(".left__tecno .left__title").innerHTML = data[selection].tecno;
                document.querySelector(".right p").innerHTML = data[selection].mainparagraph;
                document.querySelector(".titleelegante").innerHTML = data[selection].titleelegante;
                document.querySelector(".paragraphelegante").innerHTML = data[selection].paragraphelegante;
                document.querySelector(".personalizacion").innerHTML = data[selection].personalizacion;
                document.querySelector(".personal_paragraph").innerHTML = data[selection].personal_paragraph;
                document.querySelector(".next__siguiente").innerHTML = data[selection].next;
            }


            // Cambio de página con scroll
            if (isMobile()) {
                window.ontouchmove = () => {
                    scrollControl();
                };
            } else {
                window.onscroll = () => {
                    scrollControl();
                };
            }
        };
        // Añade clase a main image para que cargue
        const mainimage = document.querySelector(".main__img");
        const maintext = document.querySelector(".main__title");
        mainimage.classList.add("main__img--fadein");
        setTimeout(() => {
            maintext.classList.add("main__title--fadeinleft");
        }, 250);
    </script>
</BaseComponent>