---
    import BaseComponent from "../../components/base.astro";
---
<style>
    body{background-color: #262626;color: white;text-align: center;}
    h1{font-size: 5rem;}
    a{font-size: 3rem;color: white;}
    a:hover{color: peru;}
</style>

<BaseComponent>
    <h1>Project two</h1>
    <a href="/project/one">volver</a>
    <br>
    <a href="/">index</a>
</BaseComponent>