//  VARIABLES
$void: #0b0e11;
$dark: #4d4d4d;
$accent_color: #ff3b76;
$acc_comp1: #3eb09f;
$acc_comp2: #aafc7e;
$acc_comp5: #00ff85;
$acc_comp4: #00f1ff;
$acc_comp3: #65fce6;
$gray: transparentize($void, 0.7);

$hover_animation_time: 180ms;

$font-min: (
	"mini": 12px,
	"normal": 16px,
	"title": 20px,
	"four": 20px,
	"accent": 30px,
	"super_accent": 30px,
);

$font-pref: (
	"mini": 0.8rem,
	"normal": 1vw,
	"title": 2vw,
	"four": 3vw,
	"accent": 5vw,
	"super_accent": 10vw,
);

$font-max: (
	"mini": 16px,
	"normal": 25px,
	"title": 120px,
	"four": 120px,
	"accent": 280px,
	"super_accent": 320px,
);

@function fontz($type) {
	@return clamp(
		map-get($font-min, $type),
		map-get($font-pref, $type),
		map-get($font-max, $type)
	);
}
