@import "./reset.scss";
@import "./variables";
@import "./mixins";
@font-face {
	font-family: "Inter", sans-serif;
	src: url("/assets/font/Inter-Black.ttf") format("truetype"),
		url("/assets/font/Inter-Bold.ttf") format("truetype"),
		url("/assets/font/Inter-ExtraBold.ttf") format("truetype"),
		url("/assets/font/Inter-ExtraLight.ttf") format("truetype"),
		url("/assets/font/Inter-Light.ttf") format("truetype"),
		url("/assets/font/Inter-Medium.ttf") format("truetype"),
		url("/assets/font/Inter-Regular.ttf") format("truetype"),
		url("/assets/font/Inter-SemiBold.ttf") format("truetype"),
		url("/assets/font/Inter-Thin.ttf") format("truetype");
}
body {
	@include fullscreensize();
	overflow: hidden;

	font-family: "Inter", sans-serif;

	background-color: $void;
	color: #fff;
	box-sizing: border-box;
	// border: 3px solid $accent_color;
}

article {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: content-box;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}

	.section {
		@include fullscreensize();
		scroll-snap-align: start;
		border: none;
	}

	.section_noscroll {
		@include fullscreensize();
		border: none;
	}
}

/**/
//  ========== MAIN ==========
/**/
#main__canvas {
	position: fixed;
	outline: none;
	inset: 0;
	z-index: -20;
}

.main {
	position: relative;
}

.main__about {
	@include buttons;
	position: absolute;
	top: 50vh;
	left: 3vw;

	font-size: fontz(mini);
	writing-mode: sideways-lr;
	text-rendering: optimizeLegibility;
	letter-spacing: 2px;
	padding: 4px;

	border-left: 2px solid transparent;

	transition: border-right $hover_animation_time ease-in-out;
	&:hover {
		border-right: 2px solid white;
	}
}

.main__content {
	@include flex_center(column);
	height: 100vh;
	width: 80%;
	margin: 0 auto;

	h2 {
		display: inline;
		font-size: fontz(title);
		font-weight: 200;

		padding: 0.5em 2em;
		border-bottom: max(3px, 0.01vh) solid darken(white, 20%);
	}

	img {
		width: 100%;
	}

	h2,
	img {
		@include no_touchy;
	}
}

.start_button {
	@include buttons;
	font-size: fontz(four);
	font-family: "Inter", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	user-select: none;

	padding: 0.4em;
	margin: 4vw 0;
	overflow: hidden;

	text-align: center;
	// color: $void;
	// background: $acc_comp1;
	border-radius: 20px;

	transition: transform $hover_animation_time ease-in-out;
	animation: start_button_breathe 1s alternate infinite ease-in-out;

	span {
		font-weight: normal;
	}

	&:before {
		content: "";
		position: absolute;
		height: 100vh;
		width: 0.8em;
		opacity: var(--opacity, 0);

		background: white;
		box-shadow: 0 0 15px white;
		filter: blur(1px);

		transform: rotate(40deg) translate(-50vh, -20vh);
		animation: var(--animation, none);
	}

	/* 
		usando propiedad "animation" en el hover porque
		hover con "transform: translate" el pseudo-element
		va y regresa
	*/
	&:hover:before {
		opacity: 1;
		animation-name: start_button_shine;
		animation-duration: $hover_animation_time + 300ms;
		animation-fill-mode: backwards;
	}
	&:hover,
	&:focus {
		// transform: scale(1.1);
		animation-play-state: paused;
	}

	&:focus {
		outline: 3px solid $accent_color;
	}
}
@keyframes start_button_shine {
	to {
		transform: rotate(40deg) translate(15vh, -30vh);
	}
}
@keyframes start_button_breathe {
	to {
		transform: scale(1.02);
	}
}

.nav_social {
	user-select: none;
	font-size: fontz(title);

	position: absolute;
	@include clamp_position(right);
	bottom: 0;

	div {
		display: inline;
	}

	a {
		@include buttons;
		img {
			transition: transform $hover_animation_time ease-in-out;
		}

		&:hover img {
			transform: translateX(-15%) translateY(-15%);
		}
	}

	.social_void {
		position: absolute;
		z-index: -1;

		@include bg_gradient;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include bg_gradient_animation;
	}
}

.language {
	font-size: fontz(normal);
	text-transform: uppercase;
	user-select: none;
	position: absolute;
	@include clamp_position(top, right);
}

.language__container {
	position: relative;
	padding: 10px;
	transition: transform $hover_animation_time ease-in-out;
	ul {
		opacity: 0;
		transform: translateY(-40%);
		transition: all $hover_animation_time ease-in-out;
		li {
			user-select: none;
			list-style: none;
			background-color: transparent;
			cursor: pointer;
			transition: scale $hover_animation_time ease;
			.change_language {
				@include buttons;
			}
			&:hover {
				scale: 1.2;
			}
		}
	}

	&:hover {
		transform: translateX(-6px);
		ul {
			opacity: 1;
			transform: translateY(10%);
		}
	}
}

/**/
//  ========== BARRA NAVEGACION / HEADER ==========
/**/
header {
	width: 100%;
	height: clamp(50px, 5vh, 6vh);

	position: sticky;
	top: 0;

	z-index: 2;

	// background-color: $accent_color;
	// @include bg_gradient;
	border-top: 3px solid $accent_color;
	border-bottom: 3px solid $accent_color;

	@include flex_center(row);

	.nav_menu ul {
		@include flex(row);
		button {
			@include buttons;

			font-size: fontz(normal);
			text-transform: uppercase;
			font-family: "Inter", sans-serif;
			font-weight: bold;
			text-decoration: underline 2px;
			letter-spacing: 0.1em;

			margin: 0 0.5em;

			background-color: transparent;
			color: white;
			border: none;
		}
	}
}

/**/
/*========== PROJECTS ==========*/
/**/
.proyectos,
.aboutme {
	overflow: clip;
}

.title {
	@include no_touchy;
	height: 0.1px;
	position: sticky;
	top: 0;
	z-index: -10;

	// animation: infinite_title 200s infinite linear both;
	span {
		font-size: 8vh;
		font-family: "Inter", sans-serif;
		font-weight: bold;
		text-rendering: optimizeLegibility;
		text-transform: uppercase;
		letter-spacing: -1vh;
		writing-mode: vertical-lr;
		text-orientation: upright;

		color: transparentize(white, 0.8);
		padding: max(0.2em, 20px);
		padding-left: 10vw;
		width: 100%;
	}
}

@keyframes infinite_title {
	to {
		transform: translateY(-200vh);
	}
}

.section_project {
	@include flex_center(row);
	width: 85% !important;
	margin: 0 auto;
	position: relative;

	.project__details {
		display: none;

		@include fullscreensize();
		position: absolute;
		z-index: 2;
		overflow: hidden;

		background: firebrick;
		img {
			position: absolute;
			top: -60vh;
		}
		.details {
			position: relative;
			top: 60vh;
			font-size: fontz(accent);
			font-weight: bold;
		}
	}

	.project__text {
		.project__name {
			position: relative;
			z-index: 1;

			font-size: fontz(accent);
			font-weight: bold;
			width: 160%;
			color: white;
			cursor: pointer;

			&:hover {
				color: darken(white, 10%);
			}
		}
		.project__desc {
			position: relative;
			padding: 2em 1em 0;

			color: darken(white, 30%);

			p {
				font-size: fontz(normal);
				line-height: 1.2em;
			}
			.desc {
				margin-left: 50%;
			}
			.client {
				position: absolute;
				display: block;
				font-weight: bold;
			}
		}
	}
	img {
		width: 50vw;
		cursor: pointer;
	}
}

/**/
//   ========== ABOUT ME ==========
/**/

footer {
	position: relative;
	.conejo_container {
		display: flex;
		-moz-box-pack: center;
		justify-content: center;
		align-items: flex-end;
		height: 60px;
		overflow: hidden;
		.conejo {
			margin-bottom: -16px;
			color: #ffffff;
			transform: scale(3);
			transform-origin: center bottom 0px;
			.conejosvg {
				stroke: none;
				fill: currentcolor;
				width: 24px;
				height: 24px;
				line-height: 0;
				font-size: 0px;
				vertical-align: middle;
			}
		}
	}
	small {
		span {
			position: absolute;
			bottom: 0;
		}
		.made_with_love {
			color: #ffffff6e;
			right: 5px;
			font-weight: bold;
		}
	}
}

@media all and (max-width: 800px) {
	.main__content {
		width: 100%;
	}
	.main__about {
		top: 30vh;
		left: 0;
	}

	// start_button shine keyframe
	@keyframes start_button_shine {
		to {
			transform: rotate(40deg) translate(0, -30vh);
		}
	}

	.section_project {
		@include flex_center(column);
	}
	.section_project img {
		width: 100%;
	}
	.section_project .project__text .project__desc {
		padding: 2em 1em;
	}
	.section_project .project__text .project__desc .desc {
		margin-left: auto;
		margin: 1rem 0 0 0;
	}
	.section_project .project__text .project__name {
		width: 100%;
	}

	/*
    	========== FOOTER ==========
  	*/
	footer {
		small {
			display: none;
		}
	}
}

@media all and (min-width: 3500px) {
	.language,
	.main__about small {
		font-size: fontz(title);
	}
}
