@import "./reset.scss";
@import "./variables";
@import "./mixins";
body {
	@include fullscreensize();
	overflow: hidden;

	font-family: "Ubuntu Mono", monospace;
	// font-family: "Ubuntu", sans-serif;

	background-color: $void;
	color: #fff;
	box-sizing: border-box;
	// border: 3px solid $accent_color;
}

article {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: content-box;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}

	.section {
		@include fullscreensize();
		scroll-snap-align: start;
		border: none;
	}

	.section_noscroll {
		@include fullscreensize();
		border: none;
	}
}

/**/
//  ========== MAIN ==========
/**/
#main__canvas {
	position: fixed;
	outline: none;
	inset: 0;
	// top: 0;
	// left: 0;
	z-index: -1;
}

.main__content {
	@include flex_center(column);
	height: 100vh;
	width: 80%;
	margin: 0 auto;

	h2 {
		display: inline;

		font-size: fontz(title);
		padding: 0.5em 2em;

		border-bottom: max(5px, 0.1vh) solid white;
	}

	img {
		width: 100%;
	}

	h2,
	img {
		@include no_touchy;
	}
}

.start_button {
	@include buttons;
	font-size: fontz(four);
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	user-select: none;

	padding: 0.4em;
	margin: 4vw 0;
	overflow: hidden;

	text-align: center;
	// color: $void;
	// background: $acc_comp1;
	border-radius: 20px;

	transition: transform $hover_animation_time ease-in-out;
	animation: start_button_breathe 1s alternate infinite ease-in-out;

	span {
		font-weight: normal;
	}

	&:before {
		content: "";
		position: absolute;
		height: 100vh;
		width: 0.8em;
		opacity: 0;

		background: white;
		box-shadow: 0 0 15px white;
		filter: blur(1px);

		transform: rotate(40deg) translate(-50vh, -20vh);
	}

	/* 
		usando propiedad "animation" en el hover porque
		hover con "tranform: translate" el pseudo-element
		va y regresa
	*/
	&:hover:before {
		opacity: 1;
		animation-name: start_button_shine;
		animation-duration: $hover_animation_time + 300ms;
		animation-fill-mode: backwards;
	}
	&:hover,
	&:focus {
		// transform: scale(1.1);
		animation-play-state: paused;
	}

	&:focus {
		outline: 3px solid $accent_color;
	}
}
@keyframes start_button_shine {
	to {
		transform: rotate(40deg) translate(15vh, -30vh);
	}
}
@keyframes start_button_breathe {
	to {
		transform: scale(1.02);
	}
}

.nav_social {
	user-select: none;
	font-size: fontz(title);

	position: absolute;
	@include clamp_position(right);
	bottom: 0;

	div {
		display: inline;
	}

	a {
		@include buttons;
		img {
			transition: transform $hover_animation_time ease-in-out;
		}

		&:hover img {
			transform: translateX(-15%) translateY(-15%);
		}
	}

	.social_void {
		position: absolute;
		z-index: -1;

		@include bg_gradient;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include bg_gradient_animation;
	}
}

.language {
	user-select: none;
	position: absolute;
	@include clamp_position(top, right);
}

.language__void {
	position: relative;
	padding: 8px;
	// @include bg_gradient;
	// @include bg_gradient_animation;
	// transform: rotateY(85deg);

	transition: transform $hover_animation_time ease-in-out;
	img {
		width: 2rem;
	}
	ul {
		opacity: 0;
		transform: translateY(-40%);
		transition: all $hover_animation_time ease-in-out;

		li {
			user-select: none;
			list-style: none;
			background-color: transparent;
			cursor: pointer;
			transition: scale $hover_animation_time ease; // TODO poner fondo animado

			&:hover {
				scale: 1.2;
			}
		}
	}

	&:hover {
		transform: translateX(-6px);
		ul {
			opacity: 1;
			transform: translateY(10%);
		}
	}
}

/**/
//  ========== BARRA NAVEGACION / HEADER ==========
/**/
header {
	width: 100%;
	height: clamp(50px, 5vh, 6vh);

	position: sticky;
	top: 0;

	z-index: 2;

	// background-color: $accent_color;
	// @include bg_gradient;
	border-top: 3px solid $accent_color;
	border-bottom: 3px solid $accent_color;

	@include flex_center(row);

	.nav_menu ul {
		@include flex(row);
		button {
			@include buttons;

			font-size: fontz(normal);
			text-transform: uppercase;
			font-family: "Ubuntu Mono", monospace;
			font-weight: bold;
			text-decoration: underline 2px;
			letter-spacing: 0.1em;

			margin: 0 0.5em;

			background-color: transparent;
			color: white;
			border: none;
		}
	}
}

/**/
/*========== PROJECTS ==========*/
/**/

.title {
	// @include no_touchy;
	display: inline-flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	z-index: 0;

	// animation: infinite_title 220s infinite linear both;
	span {
		font-size: fontz(normal);
		font-family: "Ubuntu", sans-serif;
		font-weight: bold;
		text-rendering: optimizeLegibility;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		writing-mode: vertical-lr;
		text-orientation: upright;

		color: transparentize(white, 0.6);
		padding: max(0.2em, 20px);
	}
}

@keyframes infinite_title {
	to {
		transform: translateY(-2000px);
	}
}

.section_project {
	@include flex_center(row);
	width: 85% !important;
	margin: 0 auto;

	.project__text {
		.project__name {
			position: relative;
			z-index: 1;

			font-size: fontz(accent);
			font-weight: bold;
			width: 160%;
		}

		.project__desc {
			position: relative;
			padding: 2em 1em 0;
			p {
				font-size: fontz(normal);
				line-height: 1.2em;
			}
			.desc {
				margin-left: 50%;
			}
			.client {
				position: absolute;
				display: block;
				font-weight: bold;
			}
		}
	}

	img {
		width: 100%;
	}
}

/**/
//   ========== ABOUT ME ==========
/**/
.aboutme {
	@include flex_center(row);

	width: 80%;
	height: 100vh;
	img {
		width: 100%;
		height: 50vh;
	}
}

/**/
//  ========== FOOTER ==========
/**/
footer {
	position: relative;
	.conejo_container {
		display: flex;
		-moz-box-pack: center;
		justify-content: center;
		align-items: flex-end;
		height: 60px;
		overflow: hidden;
		.conejo {
			margin-bottom: -16px;
			color: #ffffff;
			transform: scale(3);
			transform-origin: center bottom 0px;
			.conejosvg {
				stroke: none;
				fill: currentcolor;
				width: 24px;
				height: 24px;
				line-height: 0;
				font-size: 0px;
				vertical-align: middle;
			}
		}
	}
	small {
		span {
			position: absolute;
			bottom: 0;
		}
		.made_with_love {
			color: #ffffff6e;
			right: 5px;
			font-weight: bold;
		}
	}
}

/*============*/
/* RESPONSIVE */
/*============*/
@media all and (max-width: 600px) {
	/*
    	========== MAIN ==========
  	*/
	.main__content {
		width: 100%;
	}

	// start_button shine keyframe
	@keyframes start_button_shine {
		to {
			transform: rotate(40deg) translate(0, -30vh);
		}
	}

	/*
    	========== FOOTER ==========
  	*/
	footer {
		small {
			display: none;
		}
	}
}
