@import "./reset.scss";
@import "./variables";
@import "./mixins";
@font-face {
	font-family: "Inter", sans-serif;
	src: url("/assets/font/Inter-Black.ttf") format("truetype"),
		url("/assets/font/Inter-Bold.ttf") format("truetype"),
		url("/assets/font/Inter-ExtraBold.ttf") format("truetype"),
		url("/assets/font/Inter-ExtraLight.ttf") format("truetype"),
		url("/assets/font/Inter-Light.ttf") format("truetype"),
		url("/assets/font/Inter-Medium.ttf") format("truetype"),
		url("/assets/font/Inter-Regular.ttf") format("truetype"),
		url("/assets/font/Inter-SemiBold.ttf") format("truetype"),
		url("/assets/font/Inter-Thin.ttf") format("truetype");
}
body {
	@include fullscreensize();
	font-family: "Inter", sans-serif;

	background-color: $void;
	color: white;
	box-sizing: border-box;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

iframe {
	@include no_touchy;
}
.close {
	@include buttons;

	position: fixed;
	top: 2rem;
	right: 2rem;

	z-index: 3;
	text-decoration: underline $accent_color;
	transition: text-decoration $hover_animation_time ease-in-out,
		letter-spacing $hover_animation_time ease-in-out;
	&:hover {
		text-decoration: underline lighten($accent_color, 10%);
		letter-spacing: 1px;
	}
}

.project {
	section {
		@include fullscreensize();
		background: $void;
	}
	.main {
		position: relative;
		overflow: hidden;
		&__img {
			height: 120vh;
			position: absolute;
			opacity: 0;
			&--fadein {
				animation: fadein 300ms ease-in forwards;
			}
		}
		&__title {
			position: absolute;
			bottom: 20vh;
			right: 5vw;
			z-index: 1;

			font-size: 6vw;
			font-weight: bold;
			text-transform: capitalize;
			opacity: 0;
			@include shadow_deep;

			&--fadeinleft {
				animation: fadeinfleft 200ms ease-in forwards;
			}
		}
	}

	.details {
		@include flex_center(column);
		background-color: lighten($void, 5%);

		&__content {
			width: 50%;
		}
		&__title {
			font-size: fontz(accent);
			font-weight: bold;

			padding-bottom: 10vh;
		}

		&__container {
			@include flex(row);
			$p-bottom: 6vh;

			.left,
			.right {
				font-size: fontz(normal);
			}

			.left {
				min-width: 40%;
				ul {
					padding-bottom: $p-bottom;
					li {
						padding: 0.25rem 0;
					}
				}
				&__links {
					li {
						padding-bottom: 0.5rem;
					}
					a {
						@include buttons;

						text-decoration: underline;
						transition: text-decoration $hover_animation_time
							ease-in-out;
						&:hover,
						&:focus {
							text-decoration: underline $accent_color;
						}
					}
				}
				&__client,
				&__tecno {
					font-weight: 200;

					.left__title {
						font-weight: 400;
						padding-bottom: 0.5rem;
					}
				}
			}
			.right {
				&__subtitle,
				p {
					padding-bottom: $p-bottom;
				}

				&__subtitle {
					// font-size: fontz(title);
					font-size: clamp(14px, 1.5rem, 30px);
					font-weight: 500;
				}
				p {
					font-weight: 200;
				}
			}
		}
	}

	.tousers {
		@include flex_center(column);
		height: auto !important;
		padding-top: 20vh;

		&__content {
			width: 70%;
			.tousers__demovideo {
				width: 100%;
			}
			.tousers__paragraph {
				font-size: fontz(normal);
				text-align: center;

				padding: 7vh 0;
				h1 {
					font-size: fontz(title);
					font-weight: 500;
					padding-bottom: 2vh;
				}
				p {
					font-weight: 200;
				}
			}
		}
		&__fullscreen {
			width: 100vw;
			height: 100vh;
		}
	}

	.end {
		padding: 0 0 10vh 0;
	}
	.next {
		height: 100vh !important;
		background: transparent;
		box-sizing: border-box;

		&__content {
			position: relative;
		}
		&__text {
			padding: 10vh 0 0 50%;
			font-size: fontz(title);
			span {
				display: block;
			}
			.next__siguiente {
				font-weight: 200;
			}
			.next__nombre {
				font-weight: bold;
			}
		}
		&__demo {
			opacity: 0.5;

			position: fixed;
			bottom: 0;
			z-index: -1;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	25% {
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeinfleft {
	from {
		opacity: 0;
		transform: translateX(5vw);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@media all and (max-width: 600px) {
	.project .details__title {
		padding-bottom: 5vh;
	}
	.project .details__content {
		width: 90%;
	}
	.project .details__container {
		@include flex(column-reverse);
	}
	.project .details {
		height: auto;
		padding: 5vh 0;
	}
	.project .tousers {
		padding-top: 0vh;
	}
	.project .details__container .right__subtitle,
	.project .details__container .right p {
		padding-bottom: 2vh;
	}
	.end {
		padding: 0 0 6vh 0;
	}
	.left {
		@include flex(row);
		flex-wrap: wrap;
	}
	.project .details__container .left ul {
		padding: 3vh 5vw;
	}
	.project .main__title {
		text-align: right;
		right: 0;
		bottom: 30vh;
		font-size: 5vh;
	}

	.main {
		&__img {
			left: -50%;
		}
	}

	.project .tousers__content {
		width: 100%;
	}

	iframe {
		height: 30vh !important;
	}

	.next {
		&__demo {
			width: auto !important;
			height: 100vh;
			left: -50%;
		}
	}
}
@media all and (min-width: 4000px) {
	.close {
		font-size: fontz(title);
		top: 5rem;
		right: 5rem;
	}
}
