@mixin flex_center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: $direction;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin buttons() {
    cursor: pointer;
    text-decoration: none;
}