@mixin flex_center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: $direction;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin buttons() {
    cursor: pointer;
    text-decoration: none;
}

@mixin no_touchy {
    user-select: none;
    pointer-events: none;
}

@mixin bg_gradient {
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
    );
    background-size: 300% 300%;
}

@mixin bg_gradient_animation {
    animation: animated_gradient 3s ease alternate infinite;
}

@mixin clamp_position($sides...){
    @each $side in $sides{
        $side: clamp(16px, 1rem, 100px);
    }
}