/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  font-family: "Ubuntu Mono", monospace;
  overflow-x: hidden;
  background-color: #0b0e11;
  color: #fff;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 94vh;
}

.imagen_main img {
  height: 100vh;
}

.texto_main {
  margin-left: -10em;
}

.texto_main h2 {
  font-size: 2rem;
  border-bottom: 2px solid #fd7272;
}

.texto_main h1 {
  margin: 0.1em 0 0.4em;
  letter-spacing: 0.1em;
}

.texto_main h1,
.texto_main h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.CTA {
  font-size: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 0;
  position: relative;
}

.CTA span {
  position: absolute;
}

.CTA .CTA_gradient {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: animated_gradient 3s ease alternate infinite;
          animation: animated_gradient 3s ease alternate infinite;
}

.CTA span {
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.CTA:hover span {
  letter-spacing: 0.15em;
}

.CTA:hover .CTA_white {
  margin: -6px 6px 0;
}

.nav_social {
  font-size: 2rem;
  position: absolute;
  bottom: 4rem;
  right: 1rem;
}

.nav_social em {
  color: white;
}

.nav_language {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav_language img {
  width: 2rem;
}

.nav_language ul {
  display: none;
  -webkit-transition: display 150ms ease;
  transition: display 150ms ease;
}

.nav_language ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: scale 180ms ease;
  transition: scale 180ms ease;
}

.nav_language ul li:hover {
  scale: 1.2;
}

.nav_language:hover ul {
  display: block;
}

header {
  width: 100%;
  height: 6vh;
  position: relative;
  z-index: 2;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 300% 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .nav_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .nav_menu ul button {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  letter-spacing: 0.1em;
  margin: 0 0.5em;
  background-color: transparent;
  color: white;
  border: none;
}

footer {
  text-align: center;
}

article {
  width: 100%;
}

article h1 {
  font-size: 10rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin: 5vh 0;
}

article .item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .item_container .proyecto_item {
  margin: 10vh auto;
}

article .item_container .proyecto_item h2,
article .item_container .proyecto_item p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

article .item_container .proyecto_item h2 {
  font-size: 2rem;
  color: #fff;
}

article .item_container .proyecto_item p {
  font-size: 1rem;
}

article .item_container img {
  width: 50%;
}

@-webkit-keyframes animated_gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes animated_gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*# sourceMappingURL=index.css.map */