body {
  font-family: 'Ubuntu Mono', monospace;
  overflow-x: hidden;
  background-color: #0b0e11;
  color: #fff;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

main .section_home .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 94vh;
}

main .section_home .main_content .imagen_main img {
  height: 100vh;
}

main .section_home .main_content .texto_main {
  margin-left: -10em;
}

main .section_home .main_content .texto_main h2 {
  font-size: 2rem;
  border-bottom: 2px solid #FD7272;
}

main .section_home .main_content .texto_main h1 {
  margin: .1em 0 .4em;
  letter-spacing: .1em;
}

main .section_home .main_content .texto_main h1, main .section_home .main_content .texto_main h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

main .section_home .main_content .texto_main a {
  font-size: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: .125em;
  text-transform: uppercase;
  padding: .75em 1em;
}

main .section_home .main_content .texto_main a:hover {
  background-color: #FD7272;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

main .section_home .nav_social, main .section_home .nav_language {
  font-size: 2rem;
  position: absolute;
  bottom: 4rem;
  right: 1rem;
}

main .section_home .nav_social i, main .section_home .nav_language i {
  color: white;
}

main .section_home .nav_language {
  bottom: 0;
  top: 2rem;
}

main .section_home .nav_language img {
  width: 2rem;
}

main .section_home .nav_language ul {
  display: none;
}

main .section_home .nav_language ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  cursor: pointer;
}

main .section_home .nav_language ul li:hover {
  border-bottom: 2px solid #FD7272;
}

main .section_home .nav_language:hover ul {
  display: block;
}

header {
  width: 100%;
  height: 6vh;
  position: relative;
  z-index: 2;
  background-color: #FD7272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .nav_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .nav_menu ul button {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  letter-spacing: .1em;
  background-color: transparent;
  color: white;
  border: none;
}

footer {
  text-align: center;
}

article {
  width: 100%;
}

article h1 {
  font-size: 10rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25em;
  margin: 5vh 0;
}

article .item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .item_container .proyecto_item {
  margin: 10vh auto;
}

article .item_container .proyecto_item h2, article .item_container .proyecto_item p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

article .item_container .proyecto_item h2 {
  font-size: 2rem;
  color: #fff;
}

article .item_container .proyecto_item p {
  font-size: 1rem;
}

article .item_container img {
  width: 50%;
}
/*# sourceMappingURL=index.css.map */