@import "./variables";
@import "./mixins";

body {
    font-family: "Ubuntu Mono", monospace;
    overflow-x: hidden;

    background-color: $void;
    color: #fff;
}

h1 {
    font-size: fontz(accent);
    font-weight: bold;
}

// MAIN
.main_content {
    @include flex_center(row);
    width: 100%;
    height: $main_h;
}

.imagen_main {
    img {
        height: 100vh;
    }
}

.texto_main {
    margin-left: -10em;

    h2 {
        font-size: fontz(title);
        border-bottom: 2px solid $accent_color;
    }
    h1 {
        margin: 0.1em 0 0.4em;
        letter-spacing: 0.1em;
    }
    h1,
    h2 {
        @include no_touchy;
    }
}

.CTA {
    font-size: fontz(title) + 1.5;
    user-select: none;

    @include buttons;
    color: white;

    font-weight: bold;
    letter-spacing: 0.125em;
    text-transform: uppercase;

    padding: 0.75em 1em 0.75em 0;

    position: relative;
    span {
        position: absolute;
    }
    .CTA_gradient {
        background: linear-gradient(
            60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82
        );
        background-size: 300% 300%;

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: animated_gradient 3s ease alternate infinite;
    }

    .CTA_white {
        transition: margin-left 0.2s ease-in-out;
    }

    &:hover {
        .CTA_white {
            margin-left: 0.125em;
        }
    }
}

.nav_social {
    font-size: fontz(title);
    // position: fixed;
    position: absolute;
    bottom: 4rem;
    right: 1rem;

    i {
        color: white;
    }
}

.nav_language {
    @extend .nav_social;
    bottom: 0;
    top: 2rem;

    img {
        width: 2rem;
    }

    ul {
        display: none;
    }

    ul li {
        user-select: none;
        list-style: none;
        cursor: pointer;
        &:hover {
            transition: box-shadow 0.15s ease;
            box-shadow: 0px 0px 100px 20px $accent_color;
        }
    }

    &:hover ul {
        transition: display 0.2s ease-out;
        display: block;
    }
}

// BARRA NAVEGACION
header {
    width: 100%;
    height: $header_h;

    position: relative;
    z-index: 2;

    background-color: $accent_color;

    @include flex_center(row);

    .nav_menu ul {
        @include flex(row);
        button {
            @include buttons;
            font-size: fontz(normal);
            text-transform: uppercase;
            font-family: "Ubuntu Mono", monospace;
            font-weight: bold;
            text-decoration: underline 2px;
            letter-spacing: 0.1em;

            margin: 0 0.5em;

            background-color: transparent;
            color: white;
            border: none;
        }
    }
}

footer {
    text-align: center;
}

// PROYECTOS
article {
    width: 100%;
    h1 {
        font-size: fontz(super_accent);

        @include no_touchy;
        color: $gray;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        margin: 5vh 0;
    }

    .item_container {
        @include flex_center(column);

        .proyecto_item {
            margin: 10vh auto;

            h2,
            p {
                @include no_touchy;
            }

            h2 {
                font-size: fontz(title);
                color: #fff;
            }

            p {
                font-size: fontz(normal);
            }
        }

        img {
            width: 50%;
        }
    }
}

@keyframes animated_gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
