@media all and (max-width: 900px) {
  // ========== MAIN ==========
  .main_content {
    flex-direction: column;

    .texto_main {
      padding: 0 1em;

      margin-left: 0;
      transform: translateY(-160%);
    }
  }
}
