---
import BaseComponent from "../components/base.astro";
// import HeaderComponent from "../components/header.astro";
import FooterComponent from "../components/footer.astro";
---

<BaseComponent estilo="../styles/index.scss" title="Jeiser Vargas Portfolio">
	<article id="articlescroll">
	
	<!--
		================= MAIN ================= 
	-->
	<main class="section section_main">
		<canvas id="main__canvas"></canvas>
		<div class="main">
			<div class="main__content">
				<h2>Jeiser Vargas</h2>
				<img src="assets/image/intro.png" alt="intro">
				<a href="#" class="start_button" id="start_button"><span id="emoji">ðŸ”¥</span>proyectos</a>
				<script>
					const emojis = ['âš¡', 'ðŸ˜œ', 'ðŸ¤¯', 'ðŸ¤“', 'ðŸ’–', 'ðŸ˜Ž', 'ðŸ§', 'ðŸ™ƒ', 'ðŸ˜³', 'ðŸ”¥'];
					const emoji_span = document.getElementById("emoji");
					emoji_span.innerHTML = emojis[0];
					document.getElementById("start_button").addEventListener("mouseenter", () => {
						emoji_span.innerHTML = emojis[Math.floor(Math.random() * emojis.length)];
					});

				</script>
			</div>
		</div>

		<nav class="language" aria-label="Language links">
			<div class="language__void">
				<div class="selected_language">
					<img
						src="assets/image/spain-flag.svg"
						alt="spanish"
					/>
				</div>
				<ul>
					<li>
						<a href="index-en.html">
							<img
								src="assets/image/usa-flag.svg"
								alt="english"
							/>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- <nav class="nav nav_social" aria-label="Social links">
				<div>
					<img src="assets/image/github.svg" alt="github" />

					<a href="#">
						<img src="assets/image/github.svg" alt="github" />
					</a>
				</div>
				<div>
					<em class="fab fa-instagram social_void"></em>
					<a href="#">
						<em class="fab fa-instagram"></em>
					</a>
				</div>
				<div>
					<em class="fab fa-youtube social_void"></em>
					<a href="#">
						<em class="fab fa-youtube"></em>
					</a>
				</div>
			</nav> -->
	</main>
	
	<!--
		================= BARRA NAVEGACION ================= 
	Â°-->
	<!-- <HeaderComponent></HeaderComponent> -->

	<!--
		================= PROJECTS ================= 
	-->
	<section class="section section_proyectos">
		<div class="title">
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
			<h1><span>#proyectos</span></h1>
		</div>

		<div class="proyecto">
			<div class="proyecto__item">
				<h2>Lorem ipsum dolor sit amet.</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Ducimus voluptatum fugiat architecto tenetur,
					veniam saepe error tempora reprehenderit soluta
					ratione.
				</p>
			</div>
		</div>
	</section>
	

	<!--
		================= ABOUT ME ================= 
	-->
	<section class="section section_aboutme">
		<div class="title">
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
			<h1><span>#sobre&nbsp;mi</span></h1>
		</div>
	</section>

	<!-- 
		================= FOOTER ================= 
	-->
	<!-- <FooterComponent></FooterComponent> -->

	</article>
</BaseComponent>