---
	import "../styles/index.scss";
	import BaseComponent from "../components/base.astro";
	// import HeaderComponent from "../components/header.astro";
	import FooterComponent from "../components/footer.astro";
	import DemoImage from "/assets/image/demo.png";
---

<BaseComponent title="Jeiser Vargas Portfolio">	
	<article id="articlescroll">
	
	<!-- -->
	<!-- ================= MAIN =================  -->
	<!-- -->
	<main class="section section_main">
		<canvas id="main__canvas"></canvas>
		<div style="position: relative; z-index: 5;">
		<nav class="language" aria-label="Language links">
			<div class="language__container">
				<div class="selected_language">
					ES
				</div>
				<ul>
					<li>
						<button class="change_language" onclick="languageto(this.innerHTML)">
							EN
						</button>
					</li>
				</ul>
			</div>
		</nav>
		</div>

		<div class="main">
			<a class="main__about" href="/project/one"><small>about</small></a>
			<div class="main__content">
				<h2>Jeiser Vargas</h2>
				<img src="assets/image/intro.png" alt="intro">
				<a href="#" class="start_button" id="start_button"><span id="emoji">🔥</span>proyectos</a>
			</div>
		</div>
		<!-- <nav class="nav nav_social" aria-label="Social links">
				<div>
					<img src="assets/image/github.svg" alt="github" />

					<a href="#">
						<img src="assets/image/github.svg" alt="github" />
					</a>
				</div>
				<div>
					<em class="fab fa-instagram social_void"></em>
					<a href="#">
						<em class="fab fa-instagram"></em>
					</a>
				</div>
				<div>
					<em class="fab fa-youtube social_void"></em>
					<a href="#">
						<em class="fab fa-youtube"></em>
					</a>
				</div>
			</nav> -->
	</main>
	
	<!-- -->
	<!-- ================= BARRA NAVEGACION =================  -->
	<!-- -->
	<!-- <HeaderComponent></HeaderComponent> -->

	<!-- -->
	<!-- ================= PROJECTS =================  -->
	<!-- -->
	<nav class="proyectos">
		<div class='title' id="infinite_vertical">
			<span>proyectos</span>
		</div>

		<section class="section section_project">
			<div class="project__details" id="project__details">
				<img src="assets/image/demo.png" alt="project">
				<div class="details">
					<h1>Lorem, ipsum dolor.</h1>
				</div>
			</div>

			<div class="project__text">
				<h1 class="project__name">Lorem, ipsum dolor sit amet.</h1>
				<div class="project__desc">
					<span class="client">lorem nuse</span>
					<p class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi obcaecati doloremque aut asperiores sunt enim, voluptatem sint iste porro?
					</p>
				</div>
			</div>
			<img src={DemoImage} alt="demo">
		</section>
		<section class="section section_project">
			<div class="project__details" id="project__details">
				<img src="assets/image/demo.png" alt="project">
				<div class="details">
					<h1>Lorem, ipsum dolor.</h1>
				</div>
			</div>

			<div class="project__text">
				<h1 class="project__name">Lorem, ipsum dolor sit amet.</h1>
				<div class="project__desc">
					<span class="client">lorem nuse</span>
					<p class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi obcaecati doloremque aut asperiores sunt enim, voluptatem sint iste porro?
					</p>
				</div>
			</div>
			<img src={DemoImage} alt="demo">
		</section>
	</nav>
	

	<!-- -->
	<!-- ================= ABOUT ME =================  -->
	<!-- -->
	<nav class="aboutme">
		<div class='title' id="infinite_vertical">
			<span>sobre&nbsp;mi</span>
		</div>

		<section class="section section_project">
			<div class="project__details" id="project__details">
				<img src="assets/image/demo.png" alt="project">
				<div class="details">
					<h1>Lorem, ipsum dolor.</h1>
				</div>
			</div>

			<div class="project__text">
				<h1 class="project__name">Lorem, ipsum dolor sit amet.</h1>
				<div class="project__desc">
					<span class="client">lorem nuse</span>
					<p class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi obcaecati doloremque aut asperiores sunt enim, voluptatem sint iste porro?
					</p>
				</div>
			</div>
			<img src={DemoImage} alt="demo">
		</section>
		<section class="section section_project">
			<div class="project__details" id="project__details">
				<img src="assets/image/demo.png" alt="project">
				<div class="details">
					<h1>Lorem, ipsum dolor.</h1>
				</div>
			</div>

			<div class="project__text">
				<h1 class="project__name">Lorem, ipsum dolor sit amet.</h1>
				<div class="project__desc">
					<span class="client">lorem nuse</span>
					<p class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi obcaecati doloremque aut asperiores sunt enim, voluptatem sint iste porro?
					</p>
				</div>
			</div>
			<img src={DemoImage} alt="demo">
		</section>
	</nav>
	<!-- -->
	<!-- ================= FOOTER =================  -->
	<!-- -->
	<FooterComponent></FooterComponent>

	</article>
	<script type="text/javascript" src="/assets/js/language.js"></script>
</BaseComponent>