---
import BaseComponent from "../components/base.astro";
import fs from 'node:fs/promises';
const url = new URL('../components/demo.json', import.meta.url);
const json = await fs.readFile(url, 'utf-8');
let testvariable = JSON.parse(json);
---

<style>
body{
    background-color: #262626; 
    color: #ffff;
}
</style>

<BaseComponent title="Test Page">
    <h1>
      {testvariable.title}
    </h1>
    <h1>
      {testvariable.GlossDiv.GlossList.GlossEntry.ID}
    </h1>
    
</BaseComponent>