<header>
    <nav class="nav_menu" aria-label="Main links">
        <ul>
            <li class="nav_item"><button>Sobre Mí</button></li>
            <li class="nav_item"><button>Proyectos</button></li>
            <li class="nav_item"><button>Contáctame</button></li>
        </ul>
    </nav>
</header>